.search-box-color{
    background-color:#381e61;
}
.search-btn{
    background-color: rgb(22, 194, 22);
    color: #efefef;
    font-size: 14px;
    border-radius: 2px!important;
}
.search-btn:hover{
    background-color: rgb(24, 179, 24);
    color: #fafafa;
}
.search-dropdown{
    color: #5c5c5c;
    font-size: 14px;
    border: 0;

}
.custom-dropdown-item{
    font-size: 14px;
    border-bottom: 1px solid #efefef;
    padding: 7px 13px;
    color: #424242;
}
::-webkit-input-placeholder{
    font-size:13px;
}
.shop-title{
    font-size: 20px;
    color: #bdbdbd;
}
.activity a span{
    font-size: 14px;
    color: #efefef;
}
.activity a span i{
    font-size: 19px;
    vertical-align: -3px;
    padding: 0 4px;
}
.custom-dropdown-toggle::after{
    margin-left: -5px;
    vertical-align: 0px;
    margin-right: -2px;
    color: #efefef;
}
.basket img{
    width: 64px;
    height: 64px;
    margin-right:10px;
}
.basket{
    width: 236px;
    border: none;
    box-shadow: 0 0 7px #bfbfbf;
}
.basket a{
    padding:0!important;
}
.basket span{
    font-size: 13px;
    color: #3a3939;
    margin-right: 33px;
    color: #444!important;
    font-size: 13px!important;
}
.basket button span,.basket button{
    color: red!important;
    font-size: 24px!important;
    outline:0!important;
    transition: .4s ease-out;
}