.ul-top-nav-left{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height: 100%;
}
.ul-top-nav-left li{
    color: #fff;
    font-size: 13px;
    border-right: 1px solid #efefef;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul-top-nav-left li a{
    color: #efefef;
}
.top-nav,.top-nav-inner{
    background-color:#381e61;
    height: 30px;
}
@media screen and (max-width:768px){
    .top-nav,.top-nav-inner{
        height: 50px;
    }
    .ul-top-nav-right{
        margin: 5px 0;
    }
}
.ul-top-nav-right{
    color: #efefef;
    font-size:14px;
    display: flex;
    justify-content:center;
    align-items:center;
}