@import "_search-box.css";
@import "_top-nav.css";
@font-face{
    font-family:Vazir-Medium;
    src:url("../fonts/Vazir-Medium.eot") format("eot"),
    url("../fonts/Vazir-Medium.woff") format("woff"),
    url("../fonts/Vazir-Medium.woff2") format("woff2");
    font-weight: normal; 
    font-style: normal;
}
*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Vazir-Medium;
}
a{
    text-decoration: none;
}
ul,li,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
    margin: 0;
}
.input-group-text{
    padding:0;
}
.btn-secondary:focus, .btn-secondary.focus {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    box-shadow: none!important;
}
.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none!important;
}
.form-control{
    border: none;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
     border-color: #a0a0a0 !important; 
    outline: 0;
     box-shadow:none !important;
}
.dropdown-item.active, .dropdown-item:active{
    color: #fff;
    text-decoration: none;
    background-color: unset;
}